{% extends "base.html" %}

{% block content %}
<h1>Home</h1>


<div class="container" style="margin-top: 3em; margin-bottom: 3em;">
    <h3>See the Full Review List</h3>
    <a type="button" class="btn btn-primary" href="/reviews">Review List</a>
</div>

<div class="container" style="margin-top: 3em; margin-bottom: 3em;">
    <h3>Write your own Review Title and Have The rating predicted.</h3>
    <a type="button" class="btn btn-primary" href="/prediction">Rating Prediction</a>
</div>


{% endblock %}