{% extends "base.html" %}

{% block content %}
<h1>Rating Prediction</h1>


<div class="container" style="margin-top: 3em; margin-bottom: 3em;">
    <h3>Write a review and title on your own.</h3>
</div>


<div class="container" style="margin-top: 3em; margin-bottom: 3em;"></div>
    <div class="form-group">

        <a type="button" class="btn btn-primary btn-sm" id="predictbutton">Predict Rating</a> <span id="ratingprediction"></span>
        <br>

        <label class="col-form-label mt-4" for="reviewtitle">Title</label>
        <input type="text" class="form-control" placeholder="What an outstandingly bad product" id="reviewtitle">

        <label for="reviewcontent" class="form-label mt-4">Review</label>
        <textarea class="form-control" id="reviewcontent" placeholder="Nothing too spectacular..." rows="7"></textarea>
    </div>

    <div style="margin-top: 3em">
        <h5>Some Examples for titles:</h5> <br>
        I really love  this product! <br>
        Why would anyone buy this? <br>
        It does not really amaze me but it does its job<br>
        How can this product be so good? <br>
        I would give five stars if it would not have such a bad customer support <br>
    </div>
</div>



<!-- a little bit of custom ugly scripting again -->
<script>
    document.addEventListener('DOMContentLoaded', () => {

        //we add a listener to the input. Predicting does not cost much computation time.
        // So we can afford to refresh the prediction pretty much every time the user hits a key.

        // "I really love  this product!" 5
        // "Why would anyone buy this?" 1
        // "It does not really amaze me but it does its job" 4
        // "How can this product be so good?" 4
        // "I would give five stars if it would not have such a bad customer support" 3

        // get input field
        const inputfield = document.getElementById('reviewtitle');
        
        const predictionHandler = (ev) => {

            // load predicted rating
            document.getElementById('ratingprediction').innerHTML = '<small>...</small>';
            $.ajax({
                type: "GET",
                url: "/load_prediction_rating/" + inputfield.value
            }).done(( value ) => {
                document.getElementById('ratingprediction').innerHTML = "Predicting: " + value;
            });
        };

        $("#predictbutton").on('click', predictionHandler);
        $("#reviewtitle").on('submit', predictionHandler);

    })
</script>

{% endblock %}