{% extends "base.html" %}

{% block content %}
<h1>Review List</h1>


<div class="container" style="margin-top: 3em; margin-bottom: 3em;">
    <h3>In the database are <span id="reviewcount"></span> Reviews.</h3>
</div>

<div class="container" style="margin-top: 3em; margin-bottom: 3em; height: 50em; overflow-y:scroll;">
    <table class="table table-hover table-striped" style="width: 100%;">
        <thead class="thead-dark">
            <tr class="table-dark">
                <th scope="row" style="width: 10.0%"><strong>Rating</strong></th>
                <th scope="row" style="width: 30.0%"><strong>Title</strong></th>
                <th scope="row" style="width: 60.0%"><strong>Content</strong></th>
            </tr>
        </thead>
        <tbody id="tablebody">

        </tbody>
    </table>
</div>

<div>
    <ul class="pagination pagination-lg" id="paginationbuttons">
      <li class="page-item active">
        <a class="page-link">1</a>
      </li>
      <li class="page-item">
        <a class="page-link">2</a>
      </li>
      <li class="page-item">
        <a class="page-link">3</a>
      </li>
      <li class="page-item">
        <a class="page-link">4</a>
      </li>
      <li class="page-item">
        <a class="page-link">5</a>
      </li>
    </ul>
  </div>

<!-- this is ugly as hell. But gets the job done-->
<!-- we subscript to the domloaded event and try to load in the review data by making a request to a python file -->
<script>
    document.addEventListener('DOMContentLoaded', () => {

        const itemsPerPage = 150;
        let currentActivePager = null;
        let lastActivePager = null;

        
        const loadReviewsForPage = (limit, offset) => {
            // load all review data
            $.ajax({
                type: "GET",
                url: "/load_review_data/" + itemsPerPage + "/" + offset
            }).done(( value ) => {
                document.getElementById('tablebody').innerHTML = value;
            });
        }



        // load review count
        $.ajax({
            type: "GET",
            url: "/load_reviews_count/"
        }).done(( value ) => {
            document.getElementById('reviewcount').innerHTML = value;


            //once we know the total review count we can initialize pagination
            // load pagination html content based on total review count
            
            $.ajax({
                type: "GET",
                url: "/load_pagination/" + value + "/" + itemsPerPage
            }).done(( value ) => {
                document.getElementById('paginationbuttons').innerHTML = value;


                // add event listeners to pagination
                const pagers = document.getElementsByClassName('page-item');
                for (const pager of pagers) {
                    pager.addEventListener('click', (ev) => {
                        const number = +ev.srcElement.text;
                        currentActivePager = ev.target.parentNode;
                        
                        //mark the pagination button active
                        // and reset the last one
                        if (currentActivePager) {
                            currentActivePager.className += " active";
                            if (lastActivePager) {
                                lastActivePager.classList.remove("active");
                            }
                            lastActivePager = currentActivePager;
                        }

                        loadReviewsForPage(itemsPerPage, (number - 1));
                    })
                }

            });
        });


        // call review page one initial time.
        loadReviewsForPage(itemsPerPage, 0);

    })
</script>

{% endblock %}